body {
    /* body 요소에 text-align을 사용하여 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이에 맞추어 세로 가운데 정렬 */
    margin: 0; /* body의 기본 마진 제거 */
 }

.container {
    max-width: 1000px; /* 최대 너비 설정 */
    width: 90%; /* 너비를 적절히 조절 */
    height: 90vh;
    align-items:center;
    justify-content: center;
}

.logo-img {
    max-width: 200px; /* 이미지의 최대 가로 크기 */
    width: auto; /* 비율을 유지하면서 이미지 크기 조절 */
    height: auto;
}


.rating-stars {
    font-size: 24px; /* 별의 크기 조절 */
    cursor: pointer;
    margin-bottom: 10px;
}

.star {
    display: inline-block;
    width: 1em;
    overflow: hidden;
    vertical-align: text-bottom;
    color: #e7e6e6; /* 채워지지 않은 별의 색상 */
}

/* 채워진 별의 스타일 */
.star.filled {
    color: gold; /* 채워진 별의 색상 */
}

/* 클릭할 때 커서를 변경하지 않도록 설정 */
.star:active {
    cursor: inherit;

}
input[type="text"],
textarea,
input[type="file"],
button {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14   px;
}

button {
    background-color: #859aab;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #bf99c5;
}

  /* 리뷰 작성하기 섹션의 스타일 */
.review-section {
    background-color: #fff;
    padding: 20px; /* 패딩 조절 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* 가운데 정렬 */
}

textarea {
height: 130px; /* 높이 조절 */
resize: vertical; /* 세로 크기만 조절되도록 설정 */
}

/* 리뷰 작성 버튼 아이콘 스타일 */
.button-icon {
    margin-right: 10px;
}

/* 리뷰 작성 버튼 아이콘 스타일 */
.button-icon {
margin-right: 10px;
}

.file-upload-container {
position: relative;
overflow: hidden;
display: inline-block;
width: 300px;
}

.img-container img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
    transition: filter 0.3s ease; /* 호버 효과 부드럽게 적용하기 위한 transition 추가 */
}

.img-container img:hover {
    filter: grayscale(100%) opacity(0.7); /* 호버시 그레이스케일 및 투명도 조절 */
}

.close-memo {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-25%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    cursor: pointer;
    display: none;
}
  
.img-container img:hover +.close-memo {
    display: block;
}

