body {
    /* body 요소에 text-align을 사용하여 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이에 맞추어 세로 가운데 정렬 */
    margin: 0; /* body의 기본 마진 제거 */
 }

 .container {
    /* 가로 너비를 설정해야 전체를 차지할 수 있어요 */
    max-width: 1200px; /* 최대 너비 설정 */
    width: 90%; /* 너비를 적절히 조절 */
    height: 90vh;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 중앙 정렬 */
}

button, label,
input[type="reset"],
input[type="radio"],
input[type="checkbox"]{
    cursor: pointer;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-around; /* 버튼 간격을 동일하게 조절 */
    background-color: rgb(123, 198, 204, 0.4); /* 원하는 배경색으로 설정 */
    padding: 10px 20px; /* 내용과의 간격을 주기 위한 패딩 설정 */
}

.menu-button {
    background-color: rgb(123, 198, 204, 0); /* 메뉴 버튼의 배경색 */
    padding: 8px 15px; /* 버튼의 패딩 설정 */
    border: none; /* 테두리 없애기 */
    font-size: 20px; /* 버튼 텍스트 크기 */
    font-weight: bold;
    color: #7BC6CC;
}

.menu-button:active {
    color: rgb(81, 147, 151); 
}

.menu-button:hover {
    color: rgb(81, 147, 151); 
}

.search-bar {
    display: flex; /* 수평 정렬을 위해 Flex 사용 */
    align-items: center; /* 세로 정렬 */
    justify-content: flex-end; /* 메뉴 오른쪽에 배치 */
    margin-bottom: 10px; /* 메뉴 바와의 간격 설정 */
}

input[type="text"],
.search-button {
    margin: 0; /* 기본 마진 제거 */
    padding: 8px; /* 내부 간격 설정 */
    border: none; /* 테두리 없애기 */
    font-size: 13px; /* 글꼴 크기 */
    color: #888d92;
    font-weight: bold;
}

.logo-img {
    max-width: 220px; /* 이미지의 최대 가로 크기 */
    width: auto; /* 비율을 유지하면서 이미지 크기 조절 */
    height: auto;
}
.basic-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basic-bar > div {
    display: flex; /* 이 부분을 추가하여 내부의 버튼을 가로로 배열 */
    align-items: center;
}
.basic-button {
    background-color: rgb(150, 177, 201, 0.2); /* 원하는 배경색으로 설정 */
    padding: 8px 15px; /* 버튼의 패딩 설정 */
    border: none; /* 테두리 없애기 */
    font-size: 14px; /* 버튼 텍스트 크기 */
    font-weight: bold;
    margin-right: 10px;
    color: #6388a8;
}
.basic-button :active {
    color: #96B1C9;
}

.basic-button :hover {
    color: #96B1C9;
}

.submenu-bar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around; /* 버튼 간격을 동일하게 조절 */
    background-color: rgb(123, 198, 204, 0.2);
    padding: 10px 20px;
}
    
.submenu-bar li {
    font-size: small;  
    margin-right: 10px; /* 각 항목 사이의 간격을 조절하고 싶으면 여기 값을 조정하세요 */
}

.submenu-item {
    text-decoration: none;
    color: #7c9bb7;
    font-weight: bold;
}
.category-tree {
    font-size: 20px;
    display: flex; /* 수평 정렬을 위해 Flex 사용 */
    align-items: center; /* 세로 정렬 */
    justify-content: center; 
    color: #888d92;
    font-weight: bold;
}

.condition {
    margin: 10px;
    font-size: 13px;
    color: #6388a8;
    font-weight: bold;
}
.condition > div {
    padding-bottom: 15px;
}
.price {
    background-color: rgb(123, 198, 204, 0.3);
    width: 60px;
}

table {
    display: flex;
    align-items: center;
    justify-content: space-around; /* 버튼 간격을 동일하게 조절 */
    padding: 10px 20px; 
}

table td {
    padding: 40px;
} 

.item-img {
    width: 300px;
    height: 270px;
}
.item-text {
    color: #BE93C5;
    text-decoration: none;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center; 
}
  
.pagination a {
    color: #5a84a8;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
  
.pagination a.active {
    background-color:  rgb(150, 177, 201, 0.9); 
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
