body {
    /* body 요소에 text-align을 사용하여 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이에 맞추어 세로 가운데 정렬 */
    margin: 0; /* body의 기본 마진 제거 */
 }
 .container {
    /* 가로 너비를 설정해야 전체를 차지할 수 있어요 */
    max-width: 1200px; /* 최대 너비 설정 */
    width: 90%; /* 너비를 적절히 조절 */
    height: 90vh;
}

button {
    cursor: pointer;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-around; /* 버튼 간격을 동일하게 조절 */
    background-color: rgb(123, 198, 204, 0.4); /* 원하는 배경색으로 설정 */
    padding: 10px 20px; /* 내용과의 간격을 주기 위한 패딩 설정 */
}

.menu-button {
    background-color: rgb(123, 198, 204, 0); /* 메뉴 버튼의 배경색 */
    padding: 8px 15px; /* 버튼의 패딩 설정 */
    border: none; /* 테두리 없애기 */
    font-size: 20px; /* 버튼 텍스트 크기 */
    font-weight: bold;
    color: #7BC6CC;
}

.menu-button:active {
    color: rgb(81, 147, 151); 
}

.menu-button:hover {
    color: rgb(81, 147, 151); 
}

.search-bar {
    display: flex; /* 수평 정렬을 위해 Flex 사용 */
    align-items: center; /* 세로 정렬 */
    justify-content: flex-end; /* 메뉴 오른쪽에 배치 */
    margin-bottom: 10px; /* 메뉴 바와의 간격 설정 */
}

input[type="text"],
.search-button {
    margin: 0; /* 기본 마진 제거 */
    padding: 8px; /* 내부 간격 설정 */
    border: none; /* 테두리 없애기 */
    font-size: 13px; /* 글꼴 크기 */
    color: #888d92;
    font-weight: bold;
}

.logo-img {
    max-width: 220px; /* 이미지의 최대 가로 크기 */
    width: auto; /* 비율을 유지하면서 이미지 크기 조절 */
    height: auto;
}

.basic-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basic-bar > div {
    display: flex; /* 이 부분을 추가하여 내부의 버튼을 가로로 배열 */
    align-items: center;
}
.basic-button {
    background-color: rgb(150, 177, 201, 0.2); /* 원하는 배경색으로 설정 */
    padding: 8px 15px; /* 버튼의 패딩 설정 */
    border: none; /* 테두리 없애기 */
    font-size: 14px; /* 버튼 텍스트 크기 */
    font-weight: bold;
    margin-right: 10px;
    color: #6388a8;
}
.basic-button :active {
    color: #96B1C9;
}

.basic-button :hover {
    color: #96B1C9;
}

.item-info {
    display: flex; 
    color: #BE93C5;

}

.item-img {
    width: 600px; /* 이미지 크기 설정 */
    height: auto; /* 비율 유지 */
    margin: 30px;
}

.item {
    margin: 20px 10px 30px 70px /* 텍스트와 이미지 사이 간격 설정 */
}

.item-name {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}
.item-price {
    font-size: 23px;
    font-weight: bold;
}
.item-quantity {
    font-size: large;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.button-cart, .button-order {
    cursor: pointer;
    padding: 13px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(226, 77, 139, 0.1);
    color: #b370bd;
    margin-left: 10px;
    margin-bottom: 100px;
}

.detail-img {
    width: 70px;
    height: 70px;   
    cursor: pointer;
}

.radio-btns {
    margin-bottom: 30px;
}

.reviews {
    color: #96B1C9;
}

.review {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* 테두리 추가 */
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-basic-text {
    font-style: italic;
    color: #888;
    margin-top: 10px;

  }

  .pagination {
    display: flex;
    list-style: none;
    justify-content: center; 
}
  
.pagination a {
    color: #5a84a8;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
  
.pagination a.active {
    background-color:  rgb(150, 177, 201, 0.9); 
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.review-image img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 500px; /* 모달의 가로 크기에 맞게 조절 */
}

.modal-img {
    width: 500px;
    max-height: 70%;
    margin: 0 auto; /* 수평 가운데 정렬을 위해 margin 속성 사용 */
    display: block; /* margin 속성을 사용하려면 블록 요소로 지정해야 함 */
}

.close-modal {
    cursor: pointer;
    font-size: 50px; 
    font-weight: bold;
    color: #222222;
}
.next-Button {
    padding: 8px 15px; 
    border: none; 
    font-size: 25px; 
    font-weight: bold;
    color: #7BC6CC;
}