body {
    /* body 요소에 text-align을 사용하여 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이에 맞추어 세로 가운데 정렬 */
    margin: 0; /* body의 기본 마진 제거 */
 }

.container {
    max-width: 1000px; /* 최대 너비 설정 */
    width: 90%; /* 너비를 적절히 조절 */
    height: 90vh;
    align-items:center;
    justify-content: center;
}

.logo-img {
    max-width: 220px; /* 이미지의 최대 가로 크기 */
    width: auto; /* 비율을 유지하면서 이미지 크기 조절 */
    height: auto;
}

.review-container {
    width: 1100px;
}

.reviews {
    color: #96B1C9;
}

.review {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* 테두리 추가 */
}

.review-image img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.title {
    font-size: large;
    font-weight: bolder;
    color: #829aae;
}

.buttons-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬을 위한 스타일 */
    margin-top: 10px; /* 버튼과 다른 요소 사이에 간격을 조절하기 위한 스타일 */
  }
  
  .edit-button, .delete-button {
    margin-left: 10px; /* 버튼 사이에 간격을 조절하기 위한 스타일 */
    padding: 5px 10px;
    background-color: #859aab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #bf99c5; /* 버튼2에만 다른 배경색을 적용하는 스타일 */
  }