<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" th:href=@{"/css/login.css"}  href="../static/css/login.css">
  <head>
    <title>Greenblue Login</title>
  </head>
  <body>
    <div class="container">
      <img class="logo-img" src="../static/img/logo.png">
      <h1>Login</h1>
      <div th:if="${param.error}" class="error-login">
        아이디 또는 비밀번호가 유효하지 않습니다.
      </div>
      <div th:if="${param.logout}" class="logout">
        로그아웃되었습니다.
      </div>
      <form th:action="@{/auth/loginProc}" method="post" class="login">
        <div><input type="text" name="username" placeholder="아이디를 입력해주세요."/></div>
        <div><input type="password" name="password" placeholder="비밀번호를 입력해주세요"/> </div>
        <div><input type="submit" value="로그인" class="button-login"/></div>
      </form>
      <!-- <a href="/oauth2/authorization/google">구글 로그인</a> -->
      <!-- <a href="/oauth2/authorization/naver">네이버 로그인</a> -->
  <!-- naver 로그인을 누르면 실제로 호출되는 주소는 authorization-uri 주소임 -->
      <div><a th:href="@{/join}" href="join.html" class="join">계정이 없으신가요?</a></div>
    </div>
  </body>
</html>